.fl-dialog h1 {
    font-size: 32px;
    padding: 2rem;
}

.fl-qss {
    background-color: #e0e0e0;
    height: auto;
    border-bottom: 16px solid #333;
    padding-top: 32px;
    justify-content: flex-start;
    /* position: relative; */
}

.flc-qss-instructions {
    padding: 1em;
    background-color: rgba(0, 120, 215, .05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flc-qss-instructions p {
    margin: 0;
    padding: 0;
}

.fl-quickSetStrip-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    padding-right: 32px;
    position: relative;
    width: 525px;
}

.flc-quickSetStrip-main {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.fl-quickSetStrip-main-buttonList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fl-quickSetStrip-main-serviceButtons {
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 267px;
}

.fl-qss-logo {
    flex-basis: auto;
}

.fl-qss-button-movable {
    background-color: rgb(0, 41, 87)  !important;
    cursor: grab;
    outline:deeppink;
}

.fl-qss-button-static {
    background-color: rgb(0, 41, 87)  !important;
}

.fl-qss-separator {
    background: #ccc !important;
}

.fl-qss-separator.visible {
    background: #999 !important;
}

.fl-qss-closeButton {
    background-color: transparent !important;
}

.fl-qss-emptyBtn {
    background-color: white !important;
    border: 1px dashed gray;
}

.fl-qss-emptyBtn-colored {
    background-color: rgb(0, 41, 87)  !important;
}

.fl-qss-button-small {
    height: 24px !important;
    background-color: #405E81 !important;
    cursor: auto;
}

.fl-reorderer-movable-selected {
    background-color: green !important;
}

.fl-reorderer-dropMarker {
    width: 5px;
    background-color: green;
    border-radius: 5px;
    margin: 5px 0 5px 6px;
}

.fl-reorderer-movable-dragging {
    opacity: 0.5;
}

.fl-mse-more-button-grid {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    position: relative;
}

.flc-buttonCatalog {
    padding: 14px;
    max-width: 960px;
    margin: 0 auto;
}

.flc-buttonCatalog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    margin-bottom: 28px;

}

.flc-buttonCatalog-header h2 {
    font-size: 24px;
}

.flc-buttonCatalog-buttonList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flc-buttonCatalog-buttonContainer-button .fl-qss-button {
    float: left;
    text-align: center;
    position: relative;
}

.flc-buttonCatalog-buttonContainer-content {
    overflow: hidden;
    padding: 0 1em;
    font-size: 1rem;
}

.flc-buttonCatalog-btnTag {
    display: inline-block;
    font-size: 0.9em;
    background-color: darkslategrey;
    color: #fff;
    padding: 0 .5rem;
    border-radius: 4px;
    font-weight: bold;
}
.flc-buttonCatalog-btnDescription {
    position: absolute;
    padding: 1rem;
    top: 44px;
    left: 38px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0, 120, 215, .05);
    color: #000;
    font-weight: normal;
    z-index: 9999;
    text-align: left;
    min-width: 200px;
    display: none;
    
}

.flc-buttonCatalog-btnAddToQSS,
.flc-buttonCatalog-btnAddToMorePanel {
    display: inline-block;
    background-color: green;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.flc-buttonCatalog-btnAddToQSS:hover,
.flc-buttonCatalog-btnAddToMorePanel:hover {
    background-color: darkgreen;
}

.mor-buttonContextMenu {
    position: absolute;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.mor-buttonContextMenu-item {
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0.6rem 1rem;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
    cursor: pointer;
    min-width: 200px;
}

.more-buttonContextMenu-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.mor-buttonContextMenu-item:hover,
.mor-buttonContextMenu-item:focus {
    color: #000;
    background-color: #f0f0f0;
    outline: deeppink;
}
